<div class="container">
    <h5> Follower Train:</h5>
    <p>Join the follower train to be placed in a queue of 5-10 other accounts. Everyone follows the person to their right and the train continues!</p>
    <div style="padding-top:50px; padding-bottom:50px">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal">Join the Train!</button>
    </div>
    <img alt="adamhaddad4's profile picture" class="_6q-tv" data-testid="user-avatar" draggable="false" src="https://scontent-sea1-1.cdninstagram.com/v/t51.2885-19/s150x150/65391001_527392811132558_1862413122237628416_n.jpg?_nc_ht=scontent-sea1-1.cdninstagram.com&amp;_nc_ohc=C_UQOIVLu3wAX8jfWGd&amp;oh=85bdc58a51cbbcad93063533f720a233&amp;oe=5F4C6F0E">
</div>
